* {
    background-color: beige;

}

#palo-idle-1 {
    width: 40px;
    height: 40px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;

}

#palo-idle-2 {
    width: 40px;
    height: 40px;
    float: right;
    padding-right: 10px;
    padding-top: 10px;

}

#palm-tree-right {
    float: right;
    width: 400px;
    height: 1200px;

}

#palm-tree-left {
    float: left;
    width: 400px;
    height: 1200px;

}

#title {
    border: 3px dotted black;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;

}

#buttons {
    margin-left: 40%;
    margin-top: 1%;
    
}

#Button-Home {
    display: inline-block;
    border: 4px solid #bba197;
    background-color: beige;
    color: black;
    width: 50px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 3px;

}

#Button-Home a {
    color: black;

}

#Button-Curriculum-Vitae {
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 4px solid #bba197;
    background-color: beige;
    width: 135px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-left: 2%;

}

#Button-Curriculum-Vitae a {
    color: black;

}


#Button-Projects {
    display: inline-block;
    border: 4px solid #bba197;
    background-color: beige;
    width: 70px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-left: 2%;

}

#Button-Projects a {
    color: black;

}

#middle-box {
    display: inline-block;
    border: 2px solid black;
    /* margin-left: 20%; */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 500px;
    padding-bottom: 500px;

}

#chipotle-title {
    border: 2px dotted black;
    font-size: 30px;
    margin-left: 41%;
    margin-right: 41%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    padding-left: 7px;

}

#chipotle {
    display: block;
    border: 2px solid #bba197;
    width: 800px;
    margin-top: 5%;
    margin-left: 26%;
    text-align: center;

}

#audi-title {
    border: 2px dotted black;
    font-size: 30px;
    margin-left: 38%;
    margin-right: 38%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1px;
    padding-left: 1px;

}

#audi {
    display: block;
    border: 2px solid #bba197;
    width: 800px;
    margin-top: 2%;
    text-align: center;
    margin-left: 26%;

}

#restaurant-title {
    border: 2px dotted black;
    font-size: 30px;
    margin-left: 42%;
    margin-right: 42%;
    padding-top: 5px;
    padding-bottom: 5px;

}

#restaurant {
    display: block;
    border: 2px solid #bba197;
    width: 800px;
    margin-top: 2%;
    text-align: center;
    margin-left: 26%;

}